%erl -sname pear@centos7-mq1 -kernel inet_dist_listen_min 33672 inet_dist_listen_max 33680 net_ticktime 360 net_tickintensity 10   -setcookie CKYBWKWCWNLSPZWSLJXT

[
 {kernel, [
         {inet_dist_listen_min, 33672},
         {inet_dist_listen_max, 33680},
         {net_ticktime, 360},
         {net_tickintensity, 10}
        ]}
].

