%https://erlangforums.com/t/logging-metadata-with-macros-help/1679
%
%
%In your example you have the following value for template:
%
%[time," [",level,"]: ",msg,"\n"]
%in order to add mfa, line, pid and foo you can do the following:
%
%[time," ", file,":",line," ",level,": ",msg,"\n"] 
%[time," ", file,":",[",level,"] " mfa, ":" line, " ", pid, "{{", foo, "}}", msg,"\n"]
%			[time," ", file,":",[",level,"] " mfa, ":" line, " ", pid, "{{", foo, "}}", msg,"\n"] 
%Then you can do ?LOG_INFO("My log with foo", #{foo => bar})

[{kernel,
  [{logger,
    [{handler, default, logger_std_h,
      #{ formatter => {logger_formatter,
        #{ template => 
           [time," ", file,", ", mfa, ":", line," ",level,": ", "{{", foo, "}}\t", msg, "\n"] 
		}}}}]}]}].

