{erl_opts, [debug_info]}.
{deps, []}.

% https://rebar3.readme.io/docs/building-cc
{pre_hooks,
  [{"(linux|darwin|solaris)", compile, "make -C apps/json_parser/c_src"},
   {"(freebsd)", compile, "gmake -C apps/json_parser/c_src"}]}.
{post_hooks,
  [{"(linux|darwin|solaris)", clean, "make -C apps/json_parser/c_src clean"},
   {"(freebsd)", clean, "gmake -C apps/json_parser/c_src clean"}]}.


{relx, [{release, {json_parser, "0.1.0"},
         [json_parser,
          sasl]},

        {mode, dev},

        %% automatically picked up if the files
        %% exist but can be set manually, which
        %% is required if the names aren't exactly
        %% sys.config and vm.args
        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"}

        %% the .src form of the configuration files do
        %% not require setting RELX_REPLACE_OS_VARS
        %% {sys_config_src, "./config/sys.config.src"},
        %% {vm_args_src, "./config/vm.args.src"}
]}.

{profiles, [{prod, [{relx,
                     [%% prod is the default mode when prod
                      %% profile is used, so does not have
                      %% to be explicitly included like this
                      {mode, prod}

                      %% use minimal mode to exclude ERTS
                      %% {mode, minimal}
                     ]
            }]}]}.
