
[{kernel,
  [{logger,
    [{handler, default, logger_std_h,
      #{ formatter => {logger_formatter,
        #{ template => 
           [time," ", file,", ", mfa, ":", line," ", pid, " ", gl, " ", level,": ", "{{", foo, "}}\t", msg, "\n"] 
		}}}}]
   },
   {logger_metadata,
        #{foo => foobar}
    }
  ]}].


%logger = [Config]
%Specifies the configuration for Logger, except the primary log level, which is specified with logger_level, and the compatibility with SASL Error Logging, which is specified with logger_sasl_compatible.
%
%The logger parameter is described in section Logging in the Kernel User's Guide.


%logger_metadata = Metadata
%Specifies primary metadata for log events.
%
%Metadata = map()
%
%Defaults to #{}.
